/*
COLORS
*/


// These are the color from coolors.co website
// I like them ;)

/* Websites for colors:
  - coolors.co
  - mycolor.space
*/

$text-color: #3c4859;
$text-color-light: #9facbd;

$primary-color: #0facf3;
$secondary-color: #9574EA;
$tertiary-color: #FFD500;